.collapseItem{
    margin: 5px;
    background-color: #fff;
    
}

.content {
    
    padding: 0px;
    text-align: left;
   
    
    
    .table {
        margin-bottom: 0;
        
        td,th {
            vertical-align: middle;
        }
        .mRight {
            margin-right: 20px;
        }
    }
}

/* JS calculated height - the most accurate */
.panel {
    background-color: #F9F9F9;
    padding: 20px;

    .panel-heading {
        cursor: pointer;
    }
    .panel-collapse {
        overflow: hidden;
        transition: height 0.3s ease-out;  
    }
    .panel-body {
        border: none !important;
    }
    
}

