@import "./master";

.enquiry-form{
    padding-bottom: 0.7rem;
    padding-left: 10px;
    padding: 50px !important;
    background-color: white !important;
    border: 2px solid transparent;
    input {
        color: red !important; 
    }
}

.enquiry-form:hover {
    border: 2px solid $c2 !important;
}


.btn-carer {
    border: none;
    background-color: white !important;
    color: $c2   !important;
    max-width: 129px; }
    .btn-carer:hover {
      background-color: $c1!important;
      color: #EDF4F7 !important; }
    .btn-carer:focus {
      box-shadow: none;
      background-color: $c1 !important;
      color: #EDF4F7 !important; }

.btn-client {
    border: none;
    background-color: white !important;
    color: $c2 !important;
    max-width: 129px; }
    .btn-client:hover {
        background-color: $c5 !important;
        color:$c1 !important; }
    .btn-client:focus {
        box-shadow: none;
        background-color: $c5 !important;
        color: $c1 !important; }

.btn-login {
    border: none;
    background-color: white !important;
    color: $c2 !important;
    max-width: 129px; }
    .btn-login:hover {
        background-color: $c8 !important;
        color: white !important; }
    .btn-login:focus {
        box-shadow: none;
        background-color: $c8 !important;
        color: white !important; }


