@import "./master";
.btn-call{
    background: #ECF4F7;
    color: #333;
    padding: 25px 50px 25px 50px;
}
h3{
    color: #333;    
}
input[type="text"],
{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    border-radius: 0;
}
.form-control:focus,
.form-control.is-invalid:focus,
.form-control.is-valid:focus{
    outline: none;
    box-shadow: none;
    background: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    
}

.footer{
    z-index:111;    
}


// JS WIP
input[type="text"], input[type="time"],
{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    border-radius: 0;
    width: 100%;
    //padding-left: 8px;
}

input[type="text"]:focus, input[type="time"]:focus,
{
    background: $c4
}

.select {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    border-radius: 0;
    width: 100%;
    padding-left: 8px;
}
